{% extends 'backend/base.html' %}
{% load url_replace %}
{% block title %} Product List {% endblock %}
{% block style %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
{% endblock style %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>


<div class="card">
    <form action="" method="get" class="card-header">
        <div class="form-row justify-content-between">
            <div class="col-md-2">
                <input type="text" name="title" placeholder="Product Title" class="form-control" {% if filter_title %}value="{{ filter_title }}"{% endif %} >
            </div>
            <div class="col-md-2">
                <select name="variant" id="variant_dropdown" class="form-control">
                    <option value="" selected disabled>--Select A Variant--</option>
                    {% for var in variants  %}
                        <optgroup label="{{ var.title }}">
                            {% for product_variant in var.variant_variants.all %}
                                <option value="{{ product_variant.variant_title }}" {% if filter_variant == product_variant.variant_title %}selected{% endif %} >{{ product_variant.variant_title }}</option> 
                            {% endfor %}
                        </optgroup>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Price Range</span>
                    </div>
                    <input type="text" name="price_from" aria-label="First name" placeholder="From" {% if filter_price_from %} value="{{ filter_price_from }}" {% endif %}  class="form-control">
                    <input type="text" name="price_to" aria-label="Last name" placeholder="To" {% if filter_price_to %} value="{{ filter_price_to }}" {% endif %}  class="form-control">
                </div>
            </div>
            <div class="col-md-2">
                <input type="date" name="date" placeholder="Date" class="form-control" {% if filter_date %} value="{{ filter_date }}" {% endif %}  >
            </div>
            <div class="col-md-1">
                <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </form>

    <div class="card-body">
        <div class="table-response">
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    {% for product in product_list %}
                    <td>{{ forloop.counter0|add:page_obj.start_index }}</td>
                    <td>{{ product.title }} <br> Created at : {{ product.created_at|timesince }} ago</td>
                    <td>{{ product.description }}</td>
                    <td>
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant{{ product.id }}">
                                {% for variant in product.product_variant_prices.all  %}
                                <dt class="col-sm-3 pb-0">
                                   {{ variant.product_variant_one.variant_title}}/ {{ variant.product_variant_two.variant_title}}/ {{ variant.product_variant_three.variant_title}}
                                </dt>
                                <dd class="col-sm-9">
                                    <dl class="row mb-0">
                                        <dd class="col-sm-4 pb-0">Price : {{ variant.price }}</dd>
                                        <dd class="col-sm-8 pb-0">InStock : {{ variant.stock }}.</dd>
                                    </dl>
                                </dd>
                                {% endfor %}
                            </dl>
                        <button onclick="$('#variant{{ product.id }}').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                        </button>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'product:update.product' product.id %}" class="btn btn-success">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}

                </tbody>

            </table>
        </div>

    </div>

    <div class="card-footer">
        <div class="row justify-content-between">
            <div class="col-md-6">
                <p>Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} out of {{ page_obj.paginator.count }}</p>
            </div>
            <div class="col-md-2">
                {% if page_obj.has_other_pages %}
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-end">
                     {% if page_obj.has_previous %}
                     <li class="page-item">
                        <a class="page-link" aria-label="Previous" href="?{% url_replace page=page_obj.previous_page_number %}" ><span aria-hidden="true">&laquo;</span></a>
                      </li>
                     {% endif %}
                     {% for i in page_obj.paginator.page_range %}
                     <li class="page-item {% if page_obj.number == i %}active{% endif %}"><a class="page-link" href="?{% url_replace page=i %}" >{{ i }}</a></li>
                     {% endfor %}
                     {% if page_obj.has_next %}
                     <li class="page-item">
                        <a class="page-link active" aria-label="Next" href="?{% url_replace page=page_obj.next_page_number %}" ><span aria-hidden="true">&raquo;</span></a>
                      </li>
                     {% endif %}
                    </ul>
                  </nav>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $("optgroup option").each(function() {
            $(this).siblings('[value="'+ this.value +'"]').remove();
        });
        $("#variant_dropdown").val("{{ filter_variant }}");
        $("#variant_dropdown").select2({});

    </script>
{% endblock script %}